APP_NAME=Sistema de Gestion de Torneos
APP_ENV=development
APP_HOST=127.0.0.1
APP_PORT=8000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=sistema_torneos_db
DB_USER=usuario_fastapi
DB_PASSWORD=CAMBIAR_ESTA_CONTRASENA

DB_POOL_MIN_SIZE=1
DB_POOL_MAX_SIZE=10
DB_POOL_TIMEOUT=10

JWT_SECRET=GENERAR_UNA_CLAVE_SECRETA_LARGA
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=120

FRONTEND_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
